{% extends 'layouts/common.html' %}
<!-- -->
{% block css %} {% endblock %}
<!-- -->
{% block main %}
<div class="container">
    <p>Problem</p>
    <div id="md-preview"></div>
    <p>Solution</p>
    <div id="codeMaster">
        <div style="height: 30em">
            <editor editor-id="editor" :content="code" v-on:change-content="changeCode" :lang="lang"></editor>
        </div>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">settings_applications</i>Settings</div>
                <div class="collapsible-body">
                    <div class="pad-sides">
                        <label>Language</label>
                        <select id="lang-select">
                            <option value="python">Python</option>
                            <option value="r">R</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
        <a class="waves-effect waves-light btn" @click="submit"><i class="material-icons left">cloud</i>Submit</a>
    </div>
</div>
{% endblock %}
<!-- -->
{% block scripts1 %}
<script src="/static/vendors/ace-editor/ace.js"></script> {% endblock %}
<!-- -->
{% block scripts %} 
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.5.0/dist/showdown.min.js"></script> {% endblock %}