{% extends 'layouts/admin.html' %}

<!--  -->

{% block main %}
<header>
    <nav class="top-nav">
        <div class="container layout-fill">
            <div class="nav-wrapper valign-wrapper">
                <div class="center brand-logo valign">{{title}}</div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row" id="app"></div>
    <div>Questions</div>
</div>
{% endblock %}

{% block scripts %}
<!--<script src="{{ js }}"></script>-->
{% endblock %}
