<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile, but it isn't cause Daniel can't be bothered atm-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Roboto Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- For Top level style sheets, less priority -->
    {% block styleTop %} {% endblock %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-flex.min.css">
    <script src="/static/vendors/jquery-3.1.1.min.js"></script>
    <script src="/static/vendors/tether.min.js"></script>
    <script src="/static/vendors/bootstrap.min.js"></script>
    <!-- MDC Color Palette -->
    <link rel="stylesheet" href="/static/vendors/mdc.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/common.css">
    <!-- For Bottom level style sheets more priority -->
    {% block styleBottom %} {% endblock %}
</head>

<body>
    {% include 'headers/admin_header.html' %}
    <div class="mdc-bg-indigo-800 mdc-text-grey-100 width-fill intro-bar shadow-depth-2">
        <div class="container">
            <h1 class="intro-title">{{title}}</h1>
            <span class="intro-tag mdc-text-indigo-100">{{tagline}}</span>
            <hr class="mdc-bg-grey-100">
        </div>
    </div>
    <!-- Main -->
    {% block main %} {% endblock %}
    <!-- Modals -->
    {% block modals %} {% endblock %}
    <!-- Footer -->
    <footer class="footer shadow-depth-2">
        <div class="layout-fill mdc-bg-indigo-800 mdc-text-grey-100 footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs">
                        <h5 class="mdc-text-grey-100">Help the team</h5>
                        <p class="mdc-text-grey-100">
                            We hope you've enjoyed using this application and hope that it has been fruitful for you. If you'd like to challenge yourself
                            further, the team is looking for more help in developing this application further. Feel free
                            to contact any of us if you'd like to contribute
                        </p>
                    </div>
                    <div class="col-xs">
                        <h5 class="mdc-text-grey-100">
                            Connect with us
                        </h5>
                        <p class="mdc-text-grey-100">
                            <ul class="mdc-text-grey-100">
                                <li>Github Link</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %} {% endblock %}
</body>

</html>