<header class="navbar navbar-light navbar-toggleable-sm">
    <nav class="container">
        <div class="d-flex hidden-md-up justify-content-start align-items-center">

            <a href="{{ url_for('admin.index') }}"
               class="navbar-brand">
                Admin
            </a>

            <button class="navbar-toggler ml-auto d-flex"
                    type="button"
                    data-toggle="collapse"
                    data-target="#admin-main-nav" ]
                    aria-controls="admin-main-nav"
                    aria-expanded="false">
                <i class="material-icons">menu</i>
            </button>

        </div>

        <div id="admin-main-nav"
             class="collapse navbar-collapse">

            <a class="navbar-brand d-flex align-items-center justify-content-center"
               href="{{ url_for('admin.index') }}">
                Admin
            </a>

            <ul class="nav navbar-nav align-items-center">
                <li class="nav-item dropdown align-items-center">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       id="admin-nav-dropdown">
                        Navigation
                    </a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('admin.questions') }}" class="dropdown-item">Questions</a>
                        <!--<div class="dropdown-divider"></div>-->
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto align-items-center">

                {% if current_user.is_authenticated %}
                <li class="nav-item">Hello {{current_user.first_name}}</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="UserDropdownContent" data-toggle="dropdown">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="UserDropdownContent">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="{{ url_for('home.index') }}">Homepage</a>
                        <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a href="{{ url_for('user.login') }}">Log in</a></li>
                <li class="nav-item"><a href="{{ url_for('user.signup') }}">Sign up</a></li>
                {% endif %}

            </ul>
        </div>

    </nav>
</header>
